@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body {
    background: url('/images/pattern-background-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 375px;
    padding: 100px 0;
    box-shadow: px;
}

.card {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0px hsl(240, 48%, 89%);
    
}

.card_summary {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: hsl(224, 23%, 55%);
}

.hero_img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    font-weight: 900;
    color: black;
    font-size: 1.5rem;
    padding: 10px 0;
}

.card_plan {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
    background:hsl(225, 100%, 98%);
    padding: 10px ;
    border-radius: 10px;
}

.change_btn {
    background: none;
    border: none;
    text-decoration: underline 0;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

.change_btn:hover{
    color: hsl(245, 75%, 52%, 0.7);
}

button {
    margin: 0 auto;
    cursor: pointer;
}

.payment_btn {
    margin-top: 30px;
    display: block;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    background: hsl(245, 75%, 52%);
    color: #fff;
    border: none;
    box-shadow: 0px 20px 15px 0px hsl(240, 48%, 89%);
}

.payment_btn:hover{
    background:  hsl(245, 75%, 52%, 0.7);
}

.cancel_btn {
    background: none;
    border: none;
    color: hsl(224, 23%, 55%);;
    display: block;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
    font-weight: 700;
}


@media(max-width: 1440px) {
    body {
        background: url("/images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}