@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body {
    background: url('/images/pattern-background-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat ;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 375px;
    padding: 100px 0;
}

.card {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0 auto;
}

.card_summary {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: hsl(224, 23%, 55%);
}

.hero_img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    font-weight: 900;
    color: black;
    font-size: 1.5rem;
    padding: 10px 0;
}

.card_plan {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
    background:hsl(225, 100%, 98%);
    padding: 10px ;
    border-radius: 10px;
}

.change_btn {
    background: none;
    border: none;
    text-decoration: underline 0;
}

button {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px;
}

.payment_btn {
    margin-top: 30px;
}

.cancel_btn {
    background: none;
    border: none;
    color: hsl(224, 23%, 55%);;
}

button {
    cursor: pointer;
}